.wide {
  width: 100%;
}

.spaceAbove {
  margin-top: 10px;
}

.fullLine {
  clear: both;
  display: block;
}

.decolapse {
  margin: 10px 0;
}

.decolapseDown {
  margin: 0 0 10px 0;
}

.decolapseUp {
  margin: 10px 0 0 0;
}

.floatRight {
  float: right;
}

input,
select,
textarea,
button,
a,
a:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
