.territoryList {
  list-style: none;
  padding: 0;
}

.returnDate {
  float: right;
  vertical-align: bottom;
}

.territoryName {
  font-weight: bold;
  margin-right: 4px;
}

.householderCount {
  font-size: 75%;
}

.territoryDescription {
  font-size: 75%;
}

.territoryResponsible {
  font-size: 50%;
}

.territoryCity {
  font-size: 75%;
  margin-right: 4px;
}

.assigneeName {
  font-size: 75%;
}

.returnDate {
  text-align: right;
}

.itemRow {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.wide {
  width: 100%;
}
