<% zoom = query_string_params.fetch(:zoom, 14) %>

<% content_for(:header) do %>
  <a target="_blank" href="<%= urls.download_territory_pdf(@territory, query_string_params.merge(zoom: zoom)) %>">Download PDF</a> |
  Tamanhos
  <% 12.upto(16) do |num| %>
    <a href=" <%= url_for(query_string_params.merge(zoom: num)) %>"><%= num %></a> |
  <% end %>
<% end %>

<img src="<%= google_maps.image_url(@territory, params) %>" alt="Map Image">
