<% zoom = query_string_params.fetch(:zoom, 14) %>
<% provider = query_string_params.fetch(:provider, 'here') %>
<%
    image_url = if provider == 'google'
                  google_maps.image_url(@territory, params)
                else
                  here_maps.image_url(@territory, params)
                end
%>

<% content_for(:header) do %>
  <a target="_blank" href="<%= urls.download_territory_pdf(@territory, query_string_params.merge(zoom: zoom)) %>">Download PDF</a> |
<% end %>

<img style="max-width: 640px" src="<%= image_url %>" alt="Map Image">
