<a href=" <%= ApiHelpers::UrlHelper.new.territory_show_path(params[:territory_slug]) %>">
  <h1 id="title"><%= params[:territory_slug] %></h1>
</a>

<% content_for(:scripts) do %>
  <!-- https://developers.google.com/maps/documentation/javascript/examples/polygon-simple -->
  <% javascript_url = google_maps.js_source(libraries: 'drawing', callback: 'initMap') %>
  <script async defer src="<%= javascript_url %>"> </script>
<% end %>

<% url = ApiHelpers::ApiUrls.new.territory_url(params[:territory_slug]) %>

<script type="text/javascript" charset="utf-8">
  function initMap() {
    loadTerritoryMap({
      containerId: "map",
      territoryUrl: "<%= url %>"
    });
  }
</script>
