<% content_for(:header) do %>
  <% if @territory.mapped? %>
    <a href="<%= urls.edit_territory_map(@territory) %>">Editar</a> |
    <a href="<%= urls.print_territory_map(@territory, query_string_params) %>">Previsualizar Impressão</a> |
  <% else %>
    <a href="<%= urls.new_territory_map(@territory) %>">Criar</a>
    <% end %>
<% end %>

<%= render partial: 'map' %>
