<h1>Editing Householder</h1>

<%= render 'form', householder: @householder_view.form_object, householder_view: @householder_view %>

<%= link_to 'Show', @householder_view.url %> |
<%= link_to 'Back', @householder_view.index_url %>
