.doNotVisit, .doNotVisit a {
  color: red;
}

.strike {
  text-decoration: line-through !important;
}

.doNotVisitDate a {
  color: #999;
}

.deleteButton {
  float: right;
}

.floatRight {
  float: right;
}
