/* https://github.com/wkhtmltopdf/wkhtmltopdf/issues/1524#issuecomment-85072480 */
tr {
  page-break-inside: avoid;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 5px;
}

th.territory-name {
  font-size: 20px;
}

tr.disabled td {
  text-decoration: line-through;
  color: red
}

tr.even {
  background-color: #eee;
}

.no-border {
  border: 0;
}

.no-padding {
  padding: 0;
}

.text-center {
  text-align: center;
}

.text-top {
  vertical-align: top;
}
