.top-bar
  background: #0a0
  a
    color: white

.development-env
  .top-bar
    background: #f00

#main-container
  max-width: 1200px
  margin: 0 auto
  padding: 10px

tr.disabled
  td
    text-decoration: line-through
  td.action
    text-decoration: none

.show-record
  margin-bottom: 10px

form
  .error
    small, label, abbr
      color: #ec5840
      font-weight: bold
    small
      display: block
      margin-bottom: 10px
    input, textarea
      margin-bottom: 0

.action, .actions
  .button-group
    float: right

label.check_boxes
  font-size: 20px
  font-weight: bold
  width: 100%
  border-bottom: 1px solid #ddd
  margin-bottom: 20px

div.check_boxes
  .checkbox
    width: 200px
    display: block
    float: left

.pending-return
  .date
    color: red

article.territory
  margin: 5px 0
  padding: 5px 0
  border: 1px solid #ddd
