#main-container
  max-width: 1200px
  margin: 0 auto
  padding: 10px

tr.disabled
  td
    text-decoration: line-through
  td.action
    text-decoration: none

.show-record
  margin-bottom: 10px

.form-inputs
  .error
    small, label, abbr
      color: red
    small
      display: block
    input, textarea
      margin-bottom: 0

table
  th a
    float: right
  .actions, .action
    a
      float: right

label.check_boxes
  font-size: 20px
  font-weight: bold
  width: 100%
  border-bottom: 1px solid #ddd
  margin-bottom: 20px

div.check_boxes
  .checkbox
    width: 200px
    display: block
    float: left
