<a href="#map" class="button expanded js-address-lookup" data-show-map='show-map' data-map-container="map" data-map-addresses="<%= addresses.to_json %>" href="#">
  <i class="fi-target-two"></i>
  <%= t('links.show_map') %></a>
</a>


