
<a href="#map" class="button  js-address-lookup" data-show-map='show-map' data-map-container="map" data-map-addresses="<%= addresses.to_json %>" href="#">
  <i class="fi-target-two"></i>
  <%= t('links.show_map') %></a>
</a>

<div id="map-container" style="display:none;">
  <hr>

  <div class="row">
    <div id="map" class="hidden small-12 medium-12 large-12 columns map"></div>
  </div>

  <hr>
</div>
