<div class="top-bar">
  <div class="row">
    <div class="small-12 medium-3 large-2 columns">
      <%= link_to t('titles.territories'), territories_path %>
    </div>

    <div class="small-12 medium-3 large-2 columns">
      <%= link_to t('titles.publishers'), publishers_path %>
    </div>

    <div class="small-12 medium-3 large-2 columns">
      <%= link_to t('titles.territory_assignments'), '/territory_assignments' %> 
    </div>

    <div class="small-12 medium-3 large-2 columns">
      <%= link_to t('links.logout'), sign_out_path, method: :delete %> 
    </div>
  </div>
</div>
